
/* Import component styles */
@import "components/header.css";
@import "components/main-content.css";
@import "components/midi-info.css";
@import "components/toggle-switch.css";
@import "components/cleared-pages-display.css";


/* Import note and staff styles */
@import "notes/notes.css";

:root {
    --rich-black: #031926;
    --teal: #468189;
    --cambridge-blue: #77aca2;
    --ash-gray: #9dbebb;
    --parchment: #f4e9cd;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--rich-black);
    color: var(--rich-black);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Button Styles */
button, .button, .start-button {
    background-color: var(--teal);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover, .button:hover, .start-button:hover {
    background-color: var(--cambridge-blue);
    transform: scale(1.05);
}

button:active, .button:active, .start-button:active {
    background-color: var(--ash-gray);
    transform: scale(0.95);
}
