/* Import color variables */
@import "base/colors.css";

/* Import base styles */
@import "base/general.css";

/* Import component styles */
@import "components/header.css";
@import "components/main-content.css";

/* Import music notation styles */
@import "notes/notes.css";

/* MIDI Information Display */
.midi-info-section {
    margin-top: 20px;
}

.midi-info {
    border: 1px solid #ccc;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    background-color: #f9f9f9;
}