/* Clef Image Container */
.clef-image-container {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 80px;
  height: auto;
  cursor: pointer; /* Indicate that the container is clickable */
}

.clef-image {
  margin: 1px; /* Adjust as needed */
  border: 2px solid var(--rich-black); /* Thin outline */
  max-width: 100%; /* Adjust size as needed */
  height: auto;
}

/* Staff Section Styles */
.staff-section {
    margin-bottom: 20px;
}

.staff {
    position: relative;
    height: 200px; /* Adjust height as needed */
    margin: 20px 0;
}

.staff-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--rich-black);
}

.staff-line:nth-child(1) {
    top: 60px;
}

.staff-line:nth-child(2) {
    top: 80px;
}

.staff-line:nth-child(3) {
    top: 100px;
}

.staff-line:nth-child(4) {
    top: 120px;
}

.staff-line:nth-child(5) {
    top: 140px;
}

/* Notes Container Styles */
.notes-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none; /* Prevent interaction with the container */
}

.note {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--rich-black);
    border-radius: 50%;
}

.note-name {
    font-size: 1em;
    text-align: center;
}

.strike-through-note::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px; /* Adjust to center the line */
    width: 40px; /* Length of the line */
    height: 1px;
    background-color: var(--strike-through-color);
    transform: translateY(-50%);
}

.strike-through-note {
    --strike-through-color: var(--rich-black);
}