
/* MIDI Information Display */
.midi-info-section {
    margin-top: 20px;
    color: var(--rich-black);
}

.midi-info {
    border: 1px solid var(--ash-gray);
    color: var(--rich-black);
    padding: 10px;
    height: 40px;
    overflow-y: auto;
    background-color: var(--ash-gray);
}